body{
    background-image: url("../root/IMG/solecito.jpg");
    background-repeat: repeat;
}

.cuadrologin{
    position:absolute;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    text-align: center;
}

.login-principal{
    position: relative;
    margin-top: 40%;
    margin-left: 0px;
    width: 300px;
}


.btn-envio{
    margin-bottom: 6px;
}